 <%- include ('partials/_header')  %>

    <div class="container-fluid mt-3 formulario-personas">
        <div class="row"> 
            <div class="col-12 col-lg-12">
                <div class="alert alert-dismissible alert-warning" data-num="0">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Recordatorio!</h4>
                    <p class="mb-0">Página con 7 días de prueba gratuita</p>
                    <span class="badge badge-pill badge-warning">Restan <span class="days-left">6</span></span>
                </div>
            </div>       
            <div class="col-12 col-lg-12">
                <div id="card-persons-form" class="card text-white bg-dark mb-3 rounded">
                    <h2 class="text-center text-white mb-n3 mt-2 ml-3">Datos de Personas</h2>
                    <div class="card-body">
                        <form action="/add" method="POST" class="mt-5">
                            <div class="row">
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group has-success">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control input-name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Apellido</label>
                                        <input type="text" class="form-control input-lastname" name="lastname">
                                    </div>
                                    <div class="form-group">
                                        <label for="dni">Nro. Documento</label>
                                        <input type="number" class="form-control input-dni" name="dni" maxlength="8">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="address">Domicilio</label>
                                        <input type="text" class="form-control input-address" name="address">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Teléfono/Celular</label>
                                        <input type="text" class="form-control input-phone" name="phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control input-email" name="email" aria-describedby="emailHelp">
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="text">Texto</label>
                                <textarea class="form-control input-text" name="text" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary w-100">Registrar Persona</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-n2">
                <button type="button" id="show-table" class="btn btn-outline-primary h1 w-100">
                    Ocultar Tabla
                </button>
                 <button type="button" id="show-form" class="btn btn-outline-primary h1  w-100">
                    Ocultar Formulario
                </button>     
            </div>
            <div class="col-12 text-center mb-3 mt-3"> 
                <table id="table-persons" class="table-sm table-responsive table-bordered table-hover table-dark mx-auto">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Domicilio</th>
                        <th>Teléfono/Celular</th>
                        <th>Email</th>
                        <th>Texto</th>
                        <th>Código QR</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for (let i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= (i + 1) %></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].lastname %></td>
                                    <td><%= data[i].dni %></td>
                                    <td><%= data[i].address %></td>
                                    <td><%= data[i].phone %></td>
                                    <td><%= data[i].email %></td>
                                    <td><%= data[i].text.substring(0,10) %>...</td>
                                    <td><a href="/qrcode/<%= data[i].id %>" target="_blank"><img src="<%= data[i].qr_code %>" alt="qrCode" class="w-50" /></a></td>
                                    <td>
                                        <a class="action" href="/edit/<%= data[i].id %>">
                                            <ion-icon  size="small" class="edit" name="pencil-outline"></ion-icon>
                                        </a>
                                        <a class="action" href="/delete/<%= data[i].id %>">
                                            <ion-icon size="small"  class="delete ml-4" name="trash-outline"></ion-icon>
                                        </a>
                                    </td>                                 
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
                <div class="alert alert-dismissible alert-primary mt-3" data-num="1">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Atención!</h4>
                    <p class="mb-0">Para ver el código QR de cada persona en un formato más grande, haga click en la imágen en miniatura de la tabla.</p>
                </div>
            </div>
        </div>
    </div>

<%- include ('partials/_footer')  %>
